<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Welcome in the AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>

<body ng-app="PopQuizApp">
    <div ng-controller="controllerName as ctrl">
        Name: <input type="text" ng-model="ctrl.search">
        <table border=1>
            <tr>
                <th>Id <button ng-click="ctrl.sortBy('id')">Id</button></th>
                <th>Name <button ng-click="ctrl.sortBy('name')">Name</button></th>
            </tr>
            <tr ng-repeat="item in ctrl.items | filter: ctrl.search | orderBy: ctrl.propertyName: ctrl.reverse">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
            </tr>
        </table>
    </div>
</body>

</html>
<script src="/app/app.module.js"></script>
<script src="/app/filter.controller.js"></script>